<ion-header>
  <ion-toolbar color="">
    <ion-title>Buscar GitHub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input
      placeholder="Digite o usuário do GitHub"
      [(ngModel)]="username" 
      (keyup.enter)="buscar()"
      >
    </ion-input>
    <ion-button expand="block" (click)="buscar()">Buscar</ion-button>
  </ion-item>

  @if (user) {
    <ion-card appHighlight (click)="verDetalhes(user.login)">
      <img [src]="user.avatar_url" alt="Avatar">
      <ion-card-header>
        <ion-card-title>{{ user.name }}</ion-card-title>
        <ion-card-subtitle>@{{ user.login }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>{{ user.bio }}</p>
        <p><strong>Seguidores:</strong> {{ user.followers | formatNumber }}</p>
        <p><strong>Repositórios públicos:</strong> {{ user.public_repos | formatNumber }}</p>
      </ion-card-content>
    </ion-card>
  }

  <ion-list *ngIf="repos.length">
    <ion-list-header>
      <ion-label>Repositórios</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let repo of repos">
      <ion-label>
        <h2>{{ repo.name }}</h2>
        <p>{{ repo.description }}</p>
      </ion-label>
      <ion-button fill="clear" [href]="repo.html_url" target="_blank">
        Ver
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
